out
node_modules
.vscode-test/
*.vsix
.DS_Store
# IntelliJ
.idea/
*/.idea/
*.iws
*.iml
*.ipr
*.ips


# Eclipse
.settings/
.metadata/
.classpath
.project

#NetBeans
nb-configuration.xml

# Generated
target/
/target/
*/target/*
*/*/target/*
javadoc/
bin/
.bin
/*/bin/
classes/
META-INF/
!**/resources/META-INF/

# Misc.
.DS_Store
**/**/.DS_Store
**/*/.DS_Store

*.jar
*.war

.metadata/*
*/.svn/*
*.log
*.project
*.classpath
**/.classpath

out/*
target/
.settings
/*/.settings/
*~
**/target/
.vscode/

node_modules/
venv/
**/__pycache__/
**/__pycache__/**
*.pyc
**/rebel.xml

i18n_py/lang/dict_txt/**
.cursorrules
.cursor/rules

*.class
.externalToolBuilders
~*
.cursorindexingignore
.specstory/
.specstory
.specstory/.what-is-this.md
.cursorignore
